<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		 
		<!-- Database Connection -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/axir_devel</property>
		<property name="connection.user">axir</property>
		<property name="connection.password">petula87112</property>
		
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		
		<property name="hibernate.generate_statistics">true</property>
		
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		
		<!-- Session Management -->
		<property name="current_session_context_class">thread</property>
		
		<!-- Cache -->
		<property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		
		<!-- Debugging -->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		
		
		<!-- Mappings -->
		<mapping class="axirassa.domain.UserModel" />
		<mapping class="axirassa.domain.AccountModel" />
		<mapping class="axirassa.domain.AccountUserModel" />
		<mapping class="axirassa.domain.PingerModel" />
		
		<mapping class="axirassa.domain.SentinelMachineModel" />
		
		<!-- Auxiliary Mappings -->
		<mapping resource="axirassa/domain/auxiliary.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>