<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database Connection -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost/axir_devel</property>
		<property name="connection.user">axir</property>
		<property name="connection.password">petula87112</property>
		
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		 
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">30</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		
		
		<property name="hibernate.generate_statistics">true</property>
		
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		
		<!-- Session Management -->
		<property name="current_session_context_class">thread</property>
		
		
		<!-- Cache -->
		<property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		
		
		<!-- Debugging -->
		<!-- <property name="show_sql">true</property> -->
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		
		<!-- Mappings -->
		<mapping class="axirassa.model.UserEntity" />
		<mapping class="axirassa.model.AccountEntity" />
		<mapping class="axirassa.model.AccountUserEntity" />
		<mapping class="axirassa.model.PingerEntity" />
		<mapping class="axirassa.model.MonitorTypeEntity" />
		<mapping class="axirassa.model.PasswordResetTokenEntity" />
		<mapping class="axirassa.model.UserPhoneNumberEntity" />
		<mapping class="axirassa.model.PhoneNumberTokenEntity" />
		<mapping class="axirassa.model.FeedbackEntity" />
		
		<mapping class="axirassa.model.HttpStatisticsEntity" />
		
		
		<mapping class="axirassa.model.SentinelMachineEntity" />
		<mapping class="axirassa.services.sentinel.model.SentinelCPUStatisticEntity" />
		<mapping class="axirassa.services.sentinel.model.SentinelMemoryStatisticEntity" />
		<mapping class="axirassa.services.sentinel.model.SentinelDiskUsageStatisticEntity" />
		<mapping class="axirassa.services.sentinel.model.SentinelDiskIOStatisticEntity" />
		<mapping class="axirassa.services.sentinel.model.SentinelNetworkStatisticEntity" />
		<mapping class="axirassa.services.sentinel.model.SentinelNetworkIOStatisticEntity" />
		
		<!-- Queries -->
		<mapping resource="axirassa/model/UserEntityQueries.hbm.xml" />
		<mapping resource="axirassa/model/PingerEntityQueries.hbm.xml" />
		<mapping resource="axirassa/model/PasswordResetTokenEntityQueries.hbm.xml" />
		<mapping resource="axirassa/model/UserPhoneNumberEntityQueries.hbm.xml" />
		<mapping resource="axirassa/model/PhoneNumberTokenEntityQueries.hbm.xml" />
		<mapping resource="axirassa/model/FeedbackEntityQueries.hbm.xml" />
		
		<mapping resource="axirassa/services/sentinel/model/SentinelQueries.hbm.xml" />
		
		<!-- Events & Interceptors -->
		<event type="save">
			<listener class="axirassa.model.interceptor.EntityOnSaveInterceptor" />
			<listener class="org.hibernate.event.def.DefaultSaveEventListener" />
		</event>
	</session-factory>
</hibernate-configuration>