<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%p] -- %c{2} %m%n</pattern>
    </encoder>
  </appender>
  <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <Append>true</Append>
    <prudent>true</prudent>
    <encoder>
      <pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS/zzz} %c{3} [%p] %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/axirassa.log.%d{yyyy-MM-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  <logger name="tapestry.render.com.zanoccio.axirassa.webapp.pages.Index" level="info"/>
  <logger name="org.apache.tapestry5.services.TapestryModule.ComponentClassResolver" level="warn"/>
  <logger name="com.zanoccio.axirassa.webapp.services.AppModule.TimingFilter" level="info"/>
  <logger name="com.zanoccio.axirassa.webapp" level="debug"/>
  <logger name="tapestry.events.com.zanoccio.axirassa.webapp.pages.Index" level="info"/>
  <logger name="org.hibernate.type" level="INFO"/>
  <logger name="org.hiernate" level="WARN"/>
  <logger name="org.apache.tapestry5.TapestryFilter" level="info"/>
  <logger name="tapestry.transformer.com.zanoccio.axirassa.webapp.pages.Index" level="info"/>
  <root level="info">
    <appender-ref ref="A1"/>
    <appender-ref ref="R"/>
  </root>
</configuration>
