@CHARSET "UTF-8";

body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 16pt;
	
	margin: 0;
	padding: 0;
}

.logo {
	display: block;
	margin-bottom: 1em;
	padding: .5em 1em; 
	background: #eee;
}

.errorMessage {
	background: #fcc;
	border: 1px solid #900;
	
	color: #600;
	font-size: 80%;
}

#content {
	margin-left: 1em;
}

#copyright {
	margin-top: 2em;
	padding: 1px 5px;
	border-top: 1px solid #ddd;
	font-size: 60%;
}