.button {
	border: 1px solid #ddd;
	border-radius: 4px;
	
	display: inline-table;
	
	width: 15em;
	
	font-weight: bold;
	font-size: 10pt;
	text-shadow: #eee 1px 1px 1px;
	color: rgb(36, 43, 51);
	
	margin: 5px;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fff));
	
	text-transform: uppercase;
}

.innerbutton {
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 2px;
	text-align: center;
}

.button:hover {
	border-color: rgb(207, 144, 0);
	cursor: pointer;
	
	background: rgb(230, 160, 0);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 178, 0)), to(rgb(230, 160, 0)))
}

.button:hover > .innerbutton {
	border-color: rgb(255, 178, 0);
	
	color: #fff;
	text-shadow: rgb(207, 144, 0) 1px 1px 1px;
}