@CHARSET "UTF-8";

/* AxPlot */
.axp_plot {
	font-size: 7pt;
	margin: 5px;
}

.axp_loading {
	background: #eee;
	font-weight: bold;
	border: 1px solid #ccc;
}

.axp_subchart {
	padding: 5px;
	float: left;
}

.axp_subchart .axp_plot {
	width: 350px;
	height: 75px;
}

.axp_label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
	font-weight: bold;
	font-size: 8pt;
	color: #333;
	width: 350px;
}

.axp_label:hover {
	white-space: normal;
}

/* AxOpener */
.axo_body {}

.axo_header {
	font-weight: bold;
	
	font-size: 10pt;
	font-variant: small-caps;
	text-transform: lowercase;
	
	padding-left: 5px;
	
	cursor: pointer;
}

.axo_open:before {
	content: url("/axirassa/media/openerdown.png");
	padding-right: 5px;
	padding-top: 5px;
}

.axo_closed:before {
	content: url("/axirassa/media/openerup.png");
	padding-right: 5px;
}

.axo_header:hover {
	background: #eee;
}