@CHARSET "UTF-8";

/* AxPlot */
.axp_loading {
	background: #eee;
	font-weight: bold;
	border: 1px solid #ccc;
}

.axp {
	padding: 5px;
}

/* AxOpener */
.axo_body {}

.axo_header {
	font-weight: bold;
	
	font-size: 10pt;
	font-variant: small-caps;
	text-transform: lowercase;
	
	padding-left: 5px;
	
	cursor: pointer;
}

.axo_open:before {
	content: url("/axir/media/openerdown.png");
	padding-right: 5px;
	padding-top: 5px;
}

.axo_closed:before {
	content: url("/axir/media/openerup.png");
	padding-right: 5px;
}

.axo_header:hover {
	background: #eee;
}