/* AxOpener */
.axo_body {
	margin-left: 1em;
}

.axo_header {
	font-weight: bold;
	
	font-size: 10pt;
	font-variant: small-caps;
	text-transform: lowercase;
	
	padding-left: 33px;
	
	cursor: pointer;
}

.axo_header:hover {
	background: #eee;
}

.axo_open {
	background: #00f;
}

.axo_closed {
	background: #f00;
}