.axwo {
    float: left;
    position: relative;

    width: 480px;
    border: 1px solid #eee;
    background: #fafafa;
    margin: 1em 1em 0 0;
}

.axw {	
	font-size: 8pt;
    width: 400px;
	height: 100px;
    position: relative;
    top: 0;
    left: 0;
}

.spinner {
	position: absolute;
	top: 50px;
	left: 200px;
}

.axwo > .respTime {
	height: 120px;
}

.axwo > .respSize {
	height: 80px;
}

.axwo .n {
	font-size: 14pt;
	z-index: 1;
	position: absolute;
}

.axwo > .t, .axwo > .sz {
	font-size: 14pt;
	text-align: right;
	text-transform: uppercase;
	position: absolute;
	left: 400px;
}

.axwo > .t {
	top: 50px;
}

.axwo > .sz {
	top: 100px;
}

.u {
	color: #666;
	font-size: 80%;
}

.axstat {
    position: absolute;
    right: 50px;
    top: 5px;
}

.dygraph-axis-label {
	font-size: 7pt;
	color: #666;
}