.axwo {
    float: left;
    padding: 0 10px 10px 0;
}

.axw {	
	font-size: 8pt;
	position: relative;
    width: 480px;
	height: 100px;

    background: #fff;
}

.axw .respTime {
	height: 120px;
}

.axw .respSize {
	height: 80px;
}

.axw .n {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20pt;
	margin-top: -11px;
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 5px;
}

.axw .t, .axw .sz {
	font-size: 18pt;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
	position: absolute;
	left: 400px;
}

.axw .t {
	top: 50px;
}

.axw .sz {
	top: 100px;
}

.u {
	color: #666;
	font-size: 80%;
}
