
@font-face {
    font-family: 'Centro Sans Pro';
    src: url('http://f.fontdeck.com/f/1/bV82eDB3WDkAA4meNG3bDoT9rkHZ8LVA3EPgdTi9xH9cRjqPe+zIVcPc.eot');
    src: local('Centro Sans Pro Regular'),
    url('http://f.fontdeck.com/f/1/bV82eDB3WDkAA4meNG3bDoT9rkHZ8LVA3EPgdTi9xH9cRjqPe+zIVcPc.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/bV82eDB3WDkAA4meNG3bDoT9rkHZ8LVA3EPgdTi9xH9cRjqPe+zIVcPc.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Adelle';
    src: url('http://f.fontdeck.com/f/1/ZnNxWHhxajcAA+yloo8+gYPVyy0g+cfWFsfa7ZDmD9OnZo10MS4gtOOE.eot');
    src: local('Adelle Bold'),
    url('http://f.fontdeck.com/f/1/ZnNxWHhxajcAA+yloo8+gYPVyy0g+cfWFsfa7ZDmD9OnZo10MS4gtOOE.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/ZnNxWHhxajcAA+yloo8+gYPVyy0g+cfWFsfa7ZDmD9OnZo10MS4gtOOE.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Centro Sans Pro';
    src: url('http://f.fontdeck.com/f/1/LWRuS21BZmcAAwzszF3QrbUCLM12WL9R3NfjhXa1EIiw6r1JBaMqHIBY.eot');
    src: local('Centro Sans Pro Bold'),
    url('http://f.fontdeck.com/f/1/LWRuS21BZmcAAwzszF3QrbUCLM12WL9R3NfjhXa1EIiw6r1JBaMqHIBY.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/LWRuS21BZmcAAwzszF3QrbUCLM12WL9R3NfjhXa1EIiw6r1JBaMqHIBY.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Edita';
    src: url('http://f.fontdeck.com/f/1/UXMwdTFzOXMAA/KJzlWEkvQVS2MfsNwuLQJoXrxwEpy3Noc/XhLWvT/S.eot');
    src: local('Edita Italic'),
    url('http://f.fontdeck.com/f/1/UXMwdTFzOXMAA/KJzlWEkvQVS2MfsNwuLQJoXrxwEpy3Noc/XhLWvT/S.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/UXMwdTFzOXMAA/KJzlWEkvQVS2MfsNwuLQJoXrxwEpy3Noc/XhLWvT/S.ttf') format('opentype');
    font-weight: normal;
    font-style: italic;
}