@CHARSET "UTF-8";

.form {
	border-collapse: separate;
	border-spacing: 10px 0;
}

input {
	font-family: sans-serif;
}

.txtinput {
	border: 1px solid #ddd;
	border-bottom-color: #bbb;
	
	width: 25em;
	font-size: 13pt;
	padding: 1px 2px;
	
	margin-bottom: .2em;
}

.errorMsg {
	font-weight: bold;
	
	margin: 0 10px;
	padding: 2px 5px;
	background: rgb(247, 242, 137);
	border: 1px solid rgb(232, 148, 0);
	
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	
	border-bottom: rgb(247, 242, 137);
	font-size: 70%;
}

.submit {
	text-align: right;
	
	font-size: 95%;
}