@CHARSET "UTF-8";

input {
	font-family: sans-serif;
}

.ax_field {
	clear: both;
}

label {
	display: block;
	float: left;
	width: 10em; 
	color: #222;
}

.input {
	float: left;
	font-size: 13pt;
	clear:both;
	}

.txtinput {
	font-family: Verdana,sans-serif;
	border: 1px solid #ddd;
	border-bottom-color: #aaa;
	
	width: 25em;
	padding: 2px 3px;
	margin: 0;
	
	margin-bottom: .2em;
}

.t-error, .errorMsg {
	font-weight: bold;
	
	border: 1px solid rgb(232, 148, 0);
	background: rgb(247, 242, 137);
}

div.t-error {
	width: 40em;
	margin-bottom: 1em;
	font-size: 70%;
}

.errorMsg {
	margin: 0 10px;
	padding: 2px 5px;
	
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	
	border-bottom: rgb(247, 242, 137);
	
	float: left; 
	clear: both;
	
	font-size: 70%;
}

.ax_field ul {
	clear: both;
}

.ax_input {
	float: left;
}

.radio {
	margin-left: .5em;
	margin-right: .5em;
}

.submit {
	margin-top: 1em;
	margin-left: 30em;
}

.check {
	margin-left: 10em;
}

.ax_frmlbl {
	padding-top: 1.5em;
	padding-bottom: .5em;
	font-weight: bold;
}
