@CHARSET "UTF-8";

body {
	font-family: 'Centro Sans Pro', 'lucida grande', sans-serif;
	font-size: 13pt;
	
	margin: 0;
	padding: 0;
	background: #fff;
	color: #223;
}

#header {
	margin-top: 2em;
	margin-left: 50px;
	font-size: 20pt;
	
	text-transform: uppercase;
}

#header a {
	text-decoration: none;
}

#headerbar {
	font-size: 11pt;
	width: 45em;
	text-align: right;
	
	color: #333;
	
	margin: 1em 0;
}

.p {
	color: #000;
	font-weight: bold;
	text-shadow: none;
}

.ax {
	font-weight: bold;
	color: rgb(163, 40, 10);
}

#subtitle {
	color: #333;
	font-size: 13pt;
	font-weight: normal;
	text-shadow: none;
}

h1 {
	font-family: sans;
	font-size: 16pt;
	font-weight: normal;
	color: rgb(125, 12, 15);
	margin-bottom: 1em;
}

h2,h3,h4,h5,h6 {
	font-family: "Adelle Bold", Georgia, serif;
}

h3 {
	font-size: 16pt;
}

#content {
	padding-top: 1.5em;
	padding-left: 40px;
	padding-bottom: 1.5em;
	
	min-height: 25em;
	
	border-left: 10px solid rgb(125, 12, 15);
	
	clear: both;
}

#footer {
	clear: both;
	
	margin: 0;
	margin-left: 30px;
	padding-top: 4px;
	font-size: 60%;
	color: #333;
	
	font-weight: bold;
}

ul {
	list-style-type: square;
}

/*
 * debugging support
 */
div.t-exception-report {
	font-size: 80%;
}

.t-exception-report ul li {
	margin-bottom: 1em;
}

div.t-exception-report dl dt {
	font-weight: bold;
	font-size: 14pt;
	font-variant: small-caps;
	text-transform: lowercase;
}

.t-location-outer {
	background: #eee;
}

.t-location-content {
	font-family: monaco;
	font-size: 10pt;
}

.t-location-current {
	background: #fed;
	font-weight: bold;
}

.t-location-line {
	font-family: verdana;
	font-weight: bold;
	font-size: 8pt;
}
 
.t-exception-class-name {
	font-family: monaco;
}

ul.t-stack-trace {
	font-size: 80%;
	font-family: monaco;
}

ul.t-stack-trace li {
	margin: 0;
	padding: 0;
}

.t-omitted-frame {
	display: none;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #eee;
}

.pinger_url {
	width: 35em;
}

.pinger_types {
	font-size: 10pt;
}