@CHARSET "UTF-8";

body {
	font-family: 'lucida grande', sans-serif;
	font-size: 13pt;
	
	margin: 0;
	padding: 0;
	background: #fff;
	color: #223;
}

#header {
	margin-top: .6em;
	margin-left: 30px;
	font-size: 24pt;
	
	color: rgb(163, 40, 10);
	
	font-variant: small-caps;
}

.p {
	color: #000;
	font-weight: bold;
	text-shadow: none;
}

.ax {
	font-weight:bold;
}

.txtinput {
	font-family: Verdana,sans-serif;
}

.formsubmit {
	 font-size: 13pt;
	 float: right;
}

#subtitle {
	color: #333;
	font-size: 13pt;
	font-weight: normal;
	text-shadow: none;
}

h1 {
	font-family: sans;
	font-size: 16pt;
	font-weight: normal;
	color: rgb(125, 12, 15);
	margin-bottom: 1em;
}

#content {
	margin-top: 1.5em;
	padding-top: 1.5em;
	padding-left: 25px;
	
	max-width: 35em;
	min-height: 25em;
	
	border-left: 5px solid rgb(125, 12, 15);
}

#footer {
	margin: 0;
	margin-left: 30px;
	padding-top: 4px;
	font-size: 60%;
	color: #666;
}