@CHARSET "UTF-8";


/*
 * base blue: 54,57,66
 * deep red: 209,4,0
 * darker red: 174,3,0
 * golden: 247,188,34
 * dark gold: 117,89,16
 */

body {
	font-family: 'centro sans pro','lucida grande', sans-serif;
	font-size: 13pt;
	
	margin: 0;
	padding: 0;
	color: black;
	background: #fff;
}

.header a {
	text-decoration: none;
	color: inherit;
	border: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 70pt;
	font-weight: normal;
	color: rgb(174,3,0);
	margin: 0;
	padding: 0;
}

.the {
	font-family: Adelle, Times, serif;
	font-size: 24pt;
	text-transform: uppercase;
	margin-bottom: -1em;
	padding-left: .8em;
}

h1,h3,h4,h5,h6,th {
	font-family: Adelle, Georgia, serif;
}

h2 {
	font-family: Edita, Times, serif;
	font-style: italic;
	margin-top: -1em;
	
}

h3 {
	font-size: 24pt;
	text-transform: uppercase;
}

.header {
	margin-top: 150px;
	margin-left: 150px;
	color: rgb(54, 57, 66);
}

.impact {
	font-size: 20pt;
	
	margin-top: 2em;
	padding: 20px 0;
	padding-left: 150px;
	background: rgb(174,3,0);
	color: #fff;
	
	text-transform: uppercase;
	font-weight: bold;
}

.impact p {
	max-width: 25em;
	margin: 0;
}

.impact strong {
	color: #fff;
	background: #222;
	padding: 0 .4em;
}

.subimpact {
	font-size: 20pt;
	max-width: 25em;
}

abbr {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
}
.servicetiers {
	clear:both;
}

.tier {
	border: 1px solid #eee; 
	float: left;
	width: 10em;
	height: 15em;
	margin: 0 .25em;
	margin-top: 3px;
	font-size: 12pt;
	
	padding: 1em;
}

.tier .price { text-align: center; font-size: 28pt; font-weight: bold; margin-bottom: 0;}
.tier ul {
	margin-top: 0;
}

.sep {
	margin-top: 6em;
	clear: both;
}

.for {
	text-align: center;
	font-family: Edita, Times, Serif;
	font-style: italic;
	font-weight: bold;
	font-size: 16pt;
	color: #333;
	margin-top: -.4em;
}

.size {
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}

.primary .for {
	color: rgb(174,3,0);
}

.reset { clear:both; }

.freetier {
	margin: 1em .25em;
	width: 61.5em;
	padding: .5em;
	background: #eee;
	border: 1px solid #ddd;
}

.primary {
	border: 5px solid rgb(174, 3, 0);
	margin-top: 0;
}

.body {
	margin-left: 150px;
}

ul {
	list-style-type: square;
}

p a {
	text-decoration: none;
	color: rgb(174,3,0);
	border-bottom: 2px solid rgb(174,3,0);
}

p a:after {
	content: ' \2192';
}







/*
 * debugging support
 */
div.t-exception-report {
	font-size: 80%;
}

.t-exception-report ul li {
	margin-bottom: 1em;
}

div.t-exception-report dl dt {
	font-weight: bold;
	font-size: 14pt;
	font-variant: small-caps;
	text-transform: lowercase;
}

.t-location-outer {
	background: #eee;
}

.t-location-content {
	font-family: monaco;
	font-size: 10pt;
}

.t-location-current {
	background: #fed;
	font-weight: bold;
}

.t-location-line {
	font-family: verdana;
	font-weight: bold;
	font-size: 8pt;
}
 
.t-exception-class-name {
	font-family: monaco;
}

ul.t-stack-trace {
	font-size: 80%;
	font-family: monaco;
}

ul.t-stack-trace li {
	margin: 0;
	padding: 0;
}

.t-omitted-frame {
	display: none;
}

table {
	border-collapse: collapse;
}

td,th {
	padding: 0px 15px;
	font-size: 80%;
}


th {
	color: #333;
	text-align: left;
	border-bottom: 1px solid #eee;
}

.url {
	width: 35em;
	font-weight: bold;
}

.url,.freq {
	border-top: 1px solid #ddd;
}

.data {
	text-align: right;
}

.types {
	font-size: 10pt;
}