@CHARSET "UTF-8";

/* @import url(http://fonts.googleapis.com/css?family=Molengo&subset=latin);*/

body {
	font-family: verdana, tahoma, sans-serif;
	font-size: 13pt;
	
	/*background: #fafafa;*/
	
	margin-top: 2px;
	border-top: 2px solid #900;
	
	margin: 0;
	padding: 0;
}

#header {
	font-size: 26pt;
	
	padding-bottom: 5px;
	margin: 10px 0;
	
	border-left: 10px solid #900;
	
	color: #666;
	
	text-transform: uppercase;
	font-family: 'Molengo', 'Calibri', sans-serif;
}

.logo {
	color: #900;
	padding: 1px 0px 5px 10px;
	font-weight: bold;
	}

.host {
	color: #000;
}

.agent {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #eee;
	clear: both;
	float: left;
	}
	
.name {
	font-size: 10pt;
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: bold;
	
	padding-left: 33px;
}
	
.agentname {
	padding: 20px 0 0 22px;
	
	color: #333;
	font-weight: bold;
	font-size: 11pt;
	font-variant: small-caps;
	
	width: 5.5em;
	float: left;
	}

.charts {
	display: inline-block;
	float: left;
	max-width: 750px;
	}

.chart {
	margin: 5px;
	
	float: left;
	
	min-height: 100px;
	min-width: 355px;
	font-size: 7pt;
	}
	
.big {
		min-width: 750px;
		min-height: 216px;
		
		float: none;
	}