@import url(http://fonts.googleapis.com/css?family=Molengo&subset=latin);

body {
	font-family: verdana, tahoma, sans-serif;
	font-size: 13pt;
	
	background: #fafafa;
	
	margin-top: 2px;
	border-top: 1px solid #900;
	
	margin: 0;
	padding: 0;
}

#header {
	font-size: 26pt;
	
	padding-bottom: 5px;
	margin: 10px 0;
	
	border-left: 10px solid #900;
	
	color: #666;
	
	text-transform: uppercase;
	font-family: 'Molengo';
}

.logo {
	color: #900;
	padding: 1px 0px 5px 10px;
	font-weight: bold;
	}
	
.agent {
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
	clear: both;
	float: left;	
	}
	
.name {
	font-size: 10pt;
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: bold;
	
	padding-left: 23px;
}
	
.agentname {
	padding: 2em 0 0 15px;
	
	color: #666;
	font-weight: bold;
	font-size: 10pt;
	font-variant: small-caps;
	
	width: 5.5em;
	float: left;
	}
	
.details {
	display: none;
}

.charts {
	display: inline-block;
	float: left;
	max-width: 750px;
	}

.chart {
	padding: 2px;
	margin: 5px;
	
	
	float: left;
	
	min-height: 100px;
	min-width: 350px;
	font-size: 7pt;
	}
	
.big {
		min-width: 716px;
		min-height: 216px;
	}