@CHARSET "UTF-8";

body {
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 13pt;
	
	margin: 0;
	padding: 0;
	background: #fff;
	color: #223;
}

#header {
	margin-top: 2em;
	margin-left: 30px;
	font-size: 24pt;
	font-weight: bold;
	color: rgb(163, 40, 10);
	text-shadow: 0 1px 1px rgba(50,0,0,0.5);  
}

#subtitle {
	color: #333;
	font-size: 13pt;
	font-weight: normal;
	text-shadow: none;
}

.errorMessage {
	background: #fcc;
	border: 1px solid #900;
	
	color: #600;
	font-size: 80%;
}

#content {
	margin: 2em;
	margin-left: 30px;
	margin-bottom: 0;
	padding: 10px;
	max-width: 35em;
	
	border: 1px solid #eee;

	background: #fafafa;
}

#footer {
	margin: 0;
	margin-left: 30px;
	padding-top: 4px;
	font-size: 60%;
	color: #666;
}